@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #231416;
  --color-background: #f6dcda;
  --color-subtle-background: #cea3a6;
  --color-accent: #2f1b23;
  --color-text: #764a4d;
  --color-text-on-primary: #faded2;
  --color-border: #a39e9a;
  --color-card-background: #eebbbb;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.accent') theme('colors.subtleBackground');
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.subtleBackground');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.accent');
  border-radius: 10px;
  border: 2px solid theme('colors.subtleBackground'); /* Creates padding */
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.primary'); /* Darkens on hover */
}

@layer utilities {
  /* Define the keyframes */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); } /* Start slightly lower and invisible */
    to { opacity: 1; transform: translateY(0); }      /* End in place and visible */
  }

  /* Create a utility class to use it */
  .animate-page-enter {
    animation: fadeIn 0.5s ease-out forwards;
  }
}

.image-zoom {
  transform: scale(3);
  transform-origin: center;
}